{{ if .Params.sections }}
  {{ range .Params.sections }}
  {{ $.Scratch.Add "i" 1 }}{{ $i := $.Scratch.Get "i" }}

    <section class="w-100  ph4 ph5-ns pv6 pv6-ns mid-gray {{ .color_classes }}">
      <div class="flex-ns flex-wrap center mw9">

        <div class="w-100">
          <div class="w-80-ns center tc">
            <p class="f3 f1-l fw4 black ma0 pt4 lh-title pt0-l">{{ .heading }}</p>
            <p class="f5 f4-l lh-copy">
              {{ .copy }}
            </p>
<!--               <p class="f4 f4-l lh-copy nested-linksTK">
                <a href="{{ .link | absURL }}" class="link black dim">
                  {{ .cta }} {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
                </a>
              </p> -->
          </div>
        </div>

        <div class="w-100 {{ if modBool $i 2 }}order-1{{ else }}order-0{{ end }}">
          <div class="w-80-ns center">
            <img src="{{ .image }}" alt="image depicting an example of {{ .heading }}" class="img shadow-0">
          </div>
        </div>

      </div>
    </section>

  {{ end }}
{{ end }}
