
@font-face {
    font-family:segmdl2;
    src: url('../fonts/segmdl2.woff');
}

ul, ol {
    /* margin-top: 0.1rem; */
    margin-left: -1.5rem;
    /* margin-bottom: 0.1rem; */
}
.prose ul li, .prose ol li {
    margin-bottom: 0em;
}
.prose ul, .prose ol {
    margin-bottom: 0.2em;
}


/* Hides non-meaningful TOC items*/
#TableOfContents ul li ul li ul li{
    margin-left: 1.0rem;
}


/* Add index to table of contents */
#TableOfContents ul li ul{
    counter-reset: id1;
}
#TableOfContents ul li ul li a:before{
    content: counter(id1) " "; /* 获取计数器值，把它填写在 content 中 */
    counter-increment: id1; /* 自动将计数器加 1 */
}
#TableOfContents ul li ul li ul{
    counter-reset: id01;
}
#TableOfContents ul li ul li ul li a:before{
    counter-increment: id01; 
    content: counter(id1) "." counter(id01) " ";
} 
#TableOfContents ul li ul li ul ul li{
    counter-reset: id001;
}
#TableOfContents ul li ul li ul li ul li a:before{
    content: counter(id1) "." counter(id01) "." counter(id001) " ";
    counter-increment: id001; 
} 


/* 文章编号 */
body{
  counter-reset: index0;  /* 创建一个计数器 */
}
h2 {
    counter-reset: index1;
}
h3 {
    counter-reset: index2;
}
h4 {
    counter-reset: index3;
}
h5 {
    counter-reset: index4;
}

h2:before {
    counter-increment: index0; /* 自动将计数器加 1 */
    content: counter(index0) " "; /* 获取计数器值，把它填写在 content 中 */
}
h3:before {
    counter-increment: index1;
    content: counter(index0) "." counter(index1) " ";
}
h4:before {
    counter-increment: index2;
    content: counter(index0) "." counter(index1) "." counter(index2) " ";
}
h5:before {
    counter-increment: index3;
    content: counter(index0) "." counter(index1) "." counter(index2) "." counter(index3) " ";
}
h6:before {
    counter-increment: index4;
    content: counter(index0) "." counter(index1) "." counter(index2) "." counter(index3) "." counter(index4) " ";
}

.querybtn:focus {
    outline:0;
} 


#mobile-menu[aria-expanded='false'] {
    display: block;
}
#mobile-menu {
    display: none;
}

#mobile-menu-button[aria-expanded='true']::before {
    font-family: "segmdl2";
    content: "\E711";
}
#mobile-menu-button::before {
    font-family: "segmdl2";
    content: "\E700";
}
