
<section id="body">
  <div class="footerinfo">
    <br/>
    <p align="center">
      <a href="http://www.paradox.com">英文官网</a> | 
      <a href="http://www.senboll.com">中文官网</a> | 
      <a href="http://support.senboll.com:8888/help">在线帮助中心</a> | 
      <a href="http://support.senboll.com:8888">资料服务器</a> | 
      <a href="http://support.senboll.com:8888/usage">案例相册</a> | 
      <a href="http://support.senboll.com:8888/swan">枫叶APP缴费</a>
      <br/>
      全国服务热线：400-002-5577 | 
      <a href="http://support.senboll.com:8888/help/contact.html">网站支持：James Zhang</a>
      <br/>
      ©<span id="year"></span>年著作权，盛波尔科技所有权。
    </p>
    <br/>
  </div>
</section>


<script>
  function auto_copyright($year) {
    var $currentdate = new Date();
    var $currentyear = $currentdate.getFullYear();
    var $cty = $currentyear.toString();
    var $sty = $year.toString();
    if ($currentyear > $year) {
      document.getElementById("year").innerHTML=$sty + ' - ' + $cty;
      console.log($cty);
    } else {
      document.getElementById("year").innerHTML = $cty;
    }
  }
  auto_copyright(1999);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105947713-1', 'auto');
  ga('send', 'pageview');
</script>