{{ $currentPage := . }}
{{ $menu := .Site.Menus.global }}
{{ $menuDocs := .Site.Menus.docs.ByWeight }}
<ul class="list dib scrolling-touch tc mb1 w-100 ph2 mv2 pa0 ma0">
  {{ range $menu }}
  {{if eq .Name "主页"  }}
    <li  class="tl dib hover-bg-black w-100 pv1 mb2 ph2 ba br3 b--moon-gray">
        <div class="flex justify-between f5 pv1 ph1" 
          id="mobile-submenu-button-docs-page" onclick="mobileSubMenuButtonDocsPageOnclick()" aria-expanded="false" >
          <a class="link dark-gray" >下拉查看所有文档</a>
        </div>
        <ul id="mobile-submenu-docs-page" aria-expanded="false" class="list dib scrolling-touch tc pl4" style="max-height: calc(100vh - 64px); overflow-y: auto;">
          {{ range $menuDocs }}{{ $post := printf "%s" .Post }}
            <li  class="tl dib  hover-bg-black w-100">
                <a href="{{.URL}}" class="f6 link hover-black db brand-font mt1 w-100 pv0 dark-gray {{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color{{end}}">
                  {{ .Name }}
                </a>
                {{- if .HasChildren }}
                <ul class="list dib scrolling-touch tc">
                  {{- range .Children }}
                    {{ if eq .URL "/docs/node1/" }}
                    {{ else if eq .URL "/docs/node2/" }}
                    {{ else if eq .URL "/docs/node3/" }}
                    {{ else if eq .URL "/docs/node4/" }}
                    {{ else if eq .URL "/docs/node9/" }}
                    {{ else }}
                      <li class="tl dib hover-bg-black w-100">
                        <a href="{{ .URL }}" class="f6 link hover-black db brand-font mb0 w-100 pv0 dark-gray {{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color{{end}}">
                          {{ .Name }}
                        </a>
                      </li>
                    {{ end }}
                  {{- end}}
                </ul>        
                {{- end}}                   
            </li>
          {{end}}
        </ul>
    </li>
  {{end}}
  {{end}}
</ul>