{{ $currentPage := . }}
{{ $menu := .Site.Menus.global }}
{{ $menuDocs := .Site.Menus.docs.ByWeight }}
<ul class="list dib scrolling-touch tc mb3 w-100 ph3 mv2 pa0 ma0">
  {{ range $menu }}
    <li  class="tl dib hover-bg-black w-100 bb b--mid-gray pv2">
        <div class="flex">
            <a href="{{.URL}}" class="f6 link dark-gray overflow hover-white db brand-font w-100 pv1 pl2 {{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color{{end}}">
              {{ .Name }}
            </a>
            <!-- {{if eq .Name "文档中心"  }}
            <button id="mobile-submenu-button-docs" onclick="mobileSubMenuButtonDocsOnclick()" aria-expanded="false" 
              class="querybtn v-mid link dib dn-l f6 tr db ph3 white bg-transparent bn"></button> 
            {{- end}}    -->
        </div>
        <!-- {{if eq .Name "文档中心"  }}
          <ul id="mobile-submenu-docs" aria-expanded="false" class="list dib scrolling-touch tc pl4">
            {{ range $menuDocs }}{{ $post := printf "%s" .Post }}
              <li  class="tl dib  hover-bg-black w-100">
                  <a href="{{.URL}}" class="f7 link primary-color-light  hover-white db brand-font mt1  w-100 pv0 pl3{{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color{{end}}">
                    {{ .Name }}
                  </a>
                  {{- if .HasChildren }}
                  <ul class="list dib scrolling-touch tc">
                    {{- range .Children }}
                      {{ if eq .URL "/docs/node1/" }}
                      {{ else if eq .URL "/docs/node2/" }}
                      {{ else if eq .URL "/docs/node3/" }}
                      {{ else if eq .URL "/docs/node4/" }}
                      {{ else if eq .URL "/docs/node9/" }}
                      {{ else }}
                        <li class="tl dib hover-bg-black w-100 pl3">
                          <a href="{{ .URL }}" class="f7 link primary-color-light  hover-white db brand-font mb0 w-100 pv0 {{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color{{end}}">
                            {{ .Name }}
                          </a>
                        </li>
                      {{ end }}
                    {{- end}}
                  </ul>        
                  {{- end}}                   
              </li>
            {{end}}
          </ul>
        {{end}} -->
    </li>
  {{end}}
</ul>