{{ $section_to_display := .section_to_display  }}

<div class="bg-white black db dn-l w-100 ">
    {{ partial "nav-links-docs-mobile.html" .context }}
</div>

<div class="min-vh-100 w-100-l bg-white" style="margin-right: auto; margin-left: auto;">
  <div class="flex-l">
    <div class="ph4 pb5 pb6-ns pt1 mt0 pt5-ns order-1 w-100 w-auto-l ph0 ph4-l">
      <article class="w-100 nested-copy-line-height nested-links nested-img">
        <h1 class="primary-color-dark f2">
          {{ with $.context.Data.Singular }}{{ . | humanize }}: {{ end }}{{ .context.Title }}
        </h1>
        <div class="{{ .Site.Params.copyClass }} mid-gray f5">
          {{ .context.Content }}
        </div>
      </article>

      <!-- TODO: May be a good idea in this case to add monthly archives -->

      <div class="flex flex-wrap">
        {{ $interior_classes := .context.Site.Params.flex_box_interior_classes }}
        <section class="flex-ns flex-wrap justify-between w-100">
          {{ range $section_to_display }}
            {{ partial "boxes-section-summaries" (dict "context" . "classes" $interior_classes "fullcontent" true) }}
          {{ end }}
        </section>
      </div>

    </div>
    <div class="ph2 pb5 pb6-ns pt1 pt5-ns order-0 w-20-l dn db-l top-0 pt5-ns br b--light-gray" style="max-width: 320px; min-width: 320px;">
        {{ partial "nav-links-docs.html" .context }}
    </div>
  </div>
</div>