{{ $currentPage := . }}


<div class="w-100 shadow-1 sticky- z-999 bg-white top-0-">
  <nav class="flex" role="navigation">
  
    <div class="flex items-center ph3 dn-lx dib-l mr-auto" >
      <a href="https://www.senboll.com" class="flex items-center pv0 f4 tc pr0 ph3">
        {{ partial "svg/logo.svg" (dict "size" "36px" ) }}
      </a>
      <div class="ph3 f5 b br b--moon-gray black">文档中心</div>
      <ul class="list flex ">
        {{ range .Site.Menus.global }}
          <li class="f5 dib tc pr4" role="menuitem">
              {{/* TODO: Create an "Global" active class to show which site one is currently at */}}
            <a href="{{ $.Site.BaseURL }}" class="dim link{{ if $currentPage.IsMenuCurrent "global" . }} gray {{else}} mid-gray {{ end }}">
              {{ .Name }}
                {{/* using ".Post" from the menu system to determine if we should show an icon for external links */}}
              {{ $post_status := printf "%s" .Post }}
              {{ if eq $post_status "external" }}
                <span class="pl1">
                  {{ partial "svg/link-ext.svg" (dict "size" "10") }}
                </span>
              {{ end }}
            </a>
          </li>
        {{ end }}
      </ul>   
    </div> 
  <!-- 
    <span class="pv4 absolute mt1 mt2-l pr3 right-0 top-0 dn dib-l">
    {{- partialCached "social-follow.html" . -}}
    </span> -->
  
    <div id="menu-search-input" aria-hidden="true" aria-expanded="false" class="dn-m dn-ns w-100 w-30-l">
      {{if not .Site.Params.isDisableSearch}}
        {{- partial "site-search.html" . -}}
      {{end}}
    </div>  
  
    <div id="nav-mobile" aria-expanded="false" class="flex items-center-l dn-l w-100-l">
      {{- partial "nav-mobile.html" . -}}
    </div>
  
  </nav>

  <div aria-expanded="false" id="mobile-menu" class="globalmenu mobilemenu pb2 dn w-100">
    {{ partial "nav-links-global-mobile.html" . }}
  </div>

</div>

<!-- 
<nav class="pv4 dn dib-l bb b--dark-gray" role="navigation">
</nav>
<nav class="overflow-y-scroll bb b--dark-gray">
</nav> -->