<!-- TOCs need to be declared explicitly in the front matter of content/*.md -->
<aside id="right-container" class="fixed-l- fixed-lTK f6 ph3-l nested-list-reset nested-links nested-copy-line-height overflow-x-hidden overflow-y-auto dn-lx">
	{{ if .Params.toc }}
		<div class="f5 fw6 pb2 bb b--moon-gray mid-gray mb2">本文内容</div>
		<div style="max-height: calc(100vh - 120px); overflow-y: auto;">
			{{ .TableOfContents }}
		</div>
	{{ end }}
	
	{{- partial "previous-next-links-in-section.html" . -}}

	{{- if .Params.godocref -}}
	<a target="_blank" class="tooltip right godoc-link" data-tooltip="See the related Godocs for {{.Title }}" href="{{.Params.godocref}}" >
	</a>
	{{- end -}}
</aside>

<!-- TOCs need to be declared explicitly in the front matter of content/*.md -->
<aside class="fixed-lTK right-0 f6 bl-l b--moon-gray pv0-ns ph3-l nested-list-reset nested-links nested-copy-line-height dn-l">
	{{ if .Params.toc }}
		<p class="b f4 mv3">本文内容</p>
  		{{ .TableOfContents }}
	{{ end }}
	
	{{- partial "previous-next-links-in-section.html" . -}}

	{{- if .Params.godocref -}}
	<a target="_blank" class="tooltip right godoc-link" data-tooltip="See the related Godocs for {{.Title }}" href="{{.Params.godocref}}" >
	</a>
	{{- end -}}
</aside>