<ul>
    <li>
    {{ with .Site.GetPage "/node1" }}
        <a href="{{ .Permalink }}">{{ .Title }}</a> 
    {{end}}   
        <ul>
        <li>
            {{ with .Site.GetPage "/node1/important-knowledge" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node1/detector-installation-notes" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node1/wiring-method" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node1/must-keyboard" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node1/rf-radiation" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node1/intellizone" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node1/lock-safety-analysis" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}

        </li>
        <li>
            {{ with .Site.GetPage "/node1/life-detection" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}

        </li>
        </ul>
    </li>
    <li>
    {{ with .Site.GetPage "/node2" }}
        <a href="{{ .Permalink }}">{{ .Title }}</a> 
    {{end}}        
        <ul>
        <li>
            {{ with .Site.GetPage "/node2/babyware" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node2/infield" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node2/insite-gold" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}   
        </li>
        <li>
            {{ with .Site.GetPage "/node2/paradox-to-control4-driver" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
            {{ with .Site.GetPage "/node2/anydesk" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        </ul>
    </li>
    <li> 
    {{ with .Site.GetPage "/node3" }}
        <a href="{{ .Permalink }}">{{ .Title }}</a> 
    {{end}}
        <ul>
        <li>
            {{ with .Site.GetPage "/node3/hardware" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        <li>
        {{ with .Site.GetPage "/node3/software" }}
            {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
            <a href="{{ .Permalink }}">{{ .Title }}</a> 
            ( 更新:
            {{ with .GitInfo }}
                <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
            {{end}}
            )
        {{end}}
        </li>
        </ul>
    </li>
    <li>
    {{ with .Site.GetPage "/node9" }}
        <a href="{{ .Permalink }}">{{ .Title }}</a> 
    {{end}}
        <ul>
        <li>
            {{ with .Site.GetPage "/node9/privacy" }}
                {{ $lastmodify := .Lastmod.Format "2006年01月02日" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a> 
                ( 更新:
                {{ with .GitInfo }}
                    <a href="{{$.Site.Params.ghrepo}}commit/{{ .Hash }}">{{$lastmodify}}</a>
                {{end}}
                )
            {{end}}
        </li>
        </ul>
    </li>
    <li><a href="/help/paradox-frame/" class="highlight">系统拓扑图</a></li>
</ul>

